$font-google: "Roboto" !default;

/*
$gray-50: #f3f7f9 !default;
$gray-100: #f3f7f9 !default;
$gray-200: #f7f7f7 !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #98a6ad !default;
$gray-700: #6c757d !default;
$gray-800: #343a40 !default;
$gray-900: #323a46 !default;

$black: #000000 !default;
$white: #ffffff !default;

$light: #f3f7f9 !default;
$dark: #323a46 !default;
*/