@inherits ViModalBase

<ViModalContent Modal="this" TitleText="Simple Modal">
	<Body>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci animi beatae delectus deleniti dolorem eveniet facere fuga iste nemo nesciunt nihil odio perspiciatis, quia quis reprehenderit sit tempora totam unde.
	</Body>
	<Footer>
		<ViButton CssClass="me-auto" OnClick="(() => Close())">Close</ViButton>
		<ViButton Color="@ThemeColor.Primary" OnClick="(() => Submit())">Save</ViButton>
	</Footer>
</ViModalContent>

@code {

}
