@page "/doc/vizor/info/toast"

@inject ViToastService ToastService

<ViPage>
	<ViPageHeader CategoryText="Informational" TitleText="Toast"></ViPageHeader>
	<ViPageBody>

		<ViCard>
			<Header><ViCardTitle>Toast With Title</ViCardTitle></Header>
			<Body>
				<ViButton Color="@ThemeColor.Success" OnClick="ShowSuccessToast">Success</ViButton>
				<ViButton Color="@ThemeColor.Warning" OnClick="ShowWarningToast">Warning</ViButton>
				<ViButton Color="@ThemeColor.Danger" OnClick="ShowDangerToast">Danger</ViButton>
				<ViButton Color="@ThemeColor.Info" OnClick="ShowInfoToast">Info</ViButton>
			</Body>
		</ViCard>
	</ViPageBody>
</ViPage>



@code {

	private async Task ShowSuccessToast()
	{
		await ToastService.ShowSuccess("Success", "This is a message", subTitle: "10 seconds ago");
	}

	private async Task ShowWarningToast()
	{
		await ToastService.ShowWarning("Warning", "This is a message", subTitle: "10 seconds ago");
	}

	private async Task ShowDangerToast()
	{
		await ToastService.ShowDanger("Danger", "This is a message", subTitle: "10 seconds ago");
	}

	private async Task ShowInfoToast()
	{
		await ToastService.ShowInfo("Info", "This is a message", subTitle: "10 seconds ago");
	}
}
