@inherits ViChildSelectorBase<ViTabPage>

<div class="card">
	<div class="card-header">
		<ul class="nav nav-tabs card-header-tabs" data-bs-toggle="tabs" role="tablist">
			<CascadingValue IsFixed="true" Value="this" Name="IViChildSelector">
				@ChildContent
			</CascadingValue>
		</ul>
	</div>
	<div class="card-body">
		<div class="tab-content">
			@foreach (var child in Children)
			{
				<div class="tab-pane @(ActiveChild == child ? "active show" : "")" id="@child.Id" role="tabpanel">
					@child.ChildContent
				</div>
			}
		</div>
	</div>
</div>

@code {

}