@page "/doc/vizor/info/card"
@using Vizor.Icons.Tabler

<ViPage>
	<ViPageHeader>Cards</ViPageHeader>
	<ViPageBody>

		<ViCard>
			<Stamp>
				<ViCardStamp Color="@ThemeColor.Primary">
					<Icon>
						<TablerSvgIcon Icon="TablerSvgIcon.Ghost" />
					</Icon>
				</ViCardStamp>
			</Stamp>
			<Header><ViCardTitle>Title</ViCardTitle></Header>
			<Body>
				Body
			</Body>
			<Footer>
				Footer
			</Footer>
		</ViCard>
	</ViPageBody>
</ViPage>



@code {

}
