@inherits ViComponentBase

<h1 class="navbar-brand navbar-brand-autodark d-none-navbar-horizontal pe-0 pe-md-3 @CssClass" @attributes="AdditionalAttributes">
	<a href="@Link">
		@ChildContent
		@Text
	</a>
</h1>

@code {

	//TODO: <img src="/docs/5.2/assets/brand/bootstrap-logo.svg" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">

	// see https://getbootstrap.com/docs/5.2/components/navbar/

	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	[Parameter]
	public string? Text { get; set; }

	[Parameter]
	public string Link { get; set; } = "#";
}
