@inherits ViComponentBase

<li class="nav-item dropdown @CssClass" @attributes="AdditionalAttributes">
	<a class="nav-link dropdown-toggle" href="#test" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		@if (Icon != null)
		{
			<span class="nav-link-icon d-md-none d-lg-inline-block">
				@Icon
			</span>
		}
		<span class="nav-link-title">
			@ItemContent
			@ItemText
		</span>
	</a>
	@ChildContent
</li>


@code {

	//TODO: onclick support

	// see https://getbootstrap.com/docs/5.2/components/navbar/

	[Parameter]
	public RenderFragment? ItemContent { get; set; }

	[Parameter]
	public string? ItemText { get; set; }

	[Parameter]
	public RenderFragment? Icon { get; set; }

	[Parameter, EditorRequired]
	public RenderFragment ChildContent { get; set; } = default!;
}
