@inherits ViComponentBase

<button class="navbar-toggler @CssClass" type="button" data-bs-toggle="collapse" data-bs-target="@("#" + NavBarId)" aria-controls="@NavBarId" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
</button>

@code {

	[Parameter, EditorRequired]
	public string NavBarId { get; set; } = default!;

	protected override void OnInitialized()
	{
		//TODO: throw exception if NavBarId string.IsNullOrEmpty

		base.OnInitialized();
	}
}
