@inherits ViComponentBase

<a href="Link" class="card-link @CssClass" @attributes="AdditionalAttributes">
	@ChildContent
	@Text
</a>

@code {

	// see https://getbootstrap.com/docs/5.2/components/card/

	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	[Parameter]
	public string? Text { get; set; }

	[Parameter, EditorRequired]
	public string Link { get; set; } = default!;

	//TODO: support for OnClick, suppress default, ...
}
