@inherits ViComponentBase

<div class="container-xxl mt-3 my-md-4 @CssClass" @attributes="AdditionalAttributes">
	@ChildContent
</div>

@code {

	[Parameter]
	public RenderFragment? ChildContent { get; set; }
}
