@*
//   Copyright 2022 DataHint BV
//   Copyright 2022 Ben Motmans
//
//   Licensed under the Apache License, Version 2.0 (the "License");
//   you may not use this file except in compliance with the License.
//   You may obtain a copy of the License at
//
//       http://www.apache.org/licenses/LICENSE-2.0
//
//   Unless required by applicable law or agreed to in writing, software
//   distributed under the License is distributed on an "AS IS" BASIS,
//   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//   See the License for the specific language governing permissions and
//   limitations under the License.
*@

<div class="empty">
	<div class="empty-header">@Code</div>
	<p class="empty-title">@Title</p>
	<p class="empty-subtitle text-muted">
		@SubTitle
	</p>
	<div class="empty-action">
		<a href="/" class="btn btn-primary">
			<TablerSvgIcon Icon="TablerSvgIcon.Home" />
			@ButtonText
		</a>
	</div>
</div>

@code {

	// see https://preview.tabler.io/docs/empty.html

	[Parameter, EditorRequired]
	public int Code { get; set; }

	[Parameter]
	public string Title { get; set; } = "Oops… You just found an error page";

	[Parameter]
	public string SubTitle { get; set; } = default!;

	[Parameter]
	public string ButtonText { get; set; } = "Take me home";

	protected override void OnInitialized()
	{
		if (SubTitle == null)
		{
			SubTitle = Code switch
			{
				404 => "Try adjusting your search or filter to find what you are looking for.",
				500 => "We are sorry but our server encountered an internal error.",
				_ => ""
			};
		}
	}
}
