@*
//   Copyright 2022 DataHint BV
//   Copyright 2022 Ben Motmans
//
//   Licensed under the Apache License, Version 2.0 (the "License");
//   you may not use this file except in compliance with the License.
//   You may obtain a copy of the License at
//
//       http://www.apache.org/licenses/LICENSE-2.0
//
//   Unless required by applicable law or agreed to in writing, software
//   distributed under the License is distributed on an "AS IS" BASIS,
//   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
//   See the License for the specific language governing permissions and
//   limitations under the License.
*@

@namespace Vizor
@inherits ViComponentBase

<div class="@GetStyle() @ColorConverter.ToTextColor(Color) @CssClass" role="status">
	@if (!string.IsNullOrEmpty(AssistiveText))
	{
		<span class="visually-hidden">@AssistiveText</span>
	}
</div>

@code {

	[Parameter]
	public string? AssistiveText { get; set; } = "Loading ...";

	[Parameter]
	public ThemeColor? Color { get; set; }

	[Parameter]
	public SpinnerStyle Style { get; set; }

	[Parameter]
	public ElementSize Size { get; set; }

	private string GetStyle()
	{
		return (Style, Size) switch
		{
			(SpinnerStyle.Circle, ElementSize.Small) => "spinner-border spinner-border-sm",
			(SpinnerStyle.Grow, ElementSize.Small) => "spinner-grow spinner-grow-sm",
			(SpinnerStyle.Grow, _) => "spinner-grow",
			(_, _) => "spinner-border"
		};
	}
}
